/************Globales**************/
html {
    scroll-padding-top: 120px;
    scroll-behavior: smooth;
}
.card{
    transition: all 0.3s ease;
}
.card:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 164, 0 , 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 164, 0 , 1);
    box-shadow: 0px 0px 5px 0px rgba(255, 164, 0 , 1);
    transition: all 0.3s ease;
}
.boton{
    cursor: pointer;
    transition: all 0.3s ease;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slide-up {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}
.entrada{
    opacity: 0;
    animation: fade 1s ease-in forwards,
    slide-up 1.1s ease-in-out;
}
.zoom{
    transition: all 0.3s ease;
}
.zoom:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
/************HEADER**************/
.link{
    opacity: 80%;
    transition: all 0.3s ease;
}
.link:hover{
    opacity: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

/************HERO**************/

.hero-info h2 {
    animation-delay: 0.1s;
}

.hero-info p {
    animation-delay: 0.2s;
}

.hero-info a {
    animation-delay: 0.4s;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hero-info a:hover {
    transition: transform 0.3s ease;
}

#hero img {
    opacity: 0;
    animation: fade 1s ease-in forwards,
    slide-left 1.1s ease-in-out;
    animation-delay: 0.3s;
}
/************RECOMENDADOS**************/
#recomendados h2{
    animation-delay: 0.5s;
    transition: transform 0.3s ease;
}
#recomendados .cards{
    animation-delay: 0.6s;
    transition: transform 0.3s ease;
}
/************CATEGORÃAS**************/
#categorias{
    animation-delay: 0.7s;
    transition: transform 0.3s ease;
}
.card--categorias:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(252, 41, 51 , 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(252, 41, 51 , 1);
    box-shadow: 0px 0px 5px 0px rgba(252, 41, 51 , 1);
}
.card--categorias > .barra{
    transition: all 0.3s ease-in;
}
.card--categorias:hover > .barra{
    width: 60%;
    transition: all 0.3s ease-out;
}
/************POPULARES**************/


/************FOOTER**************/
footer a {
    cursor: pointer;
    transition: all 0.3s ease;
}

footer a:hover {
    color: var(--secondary);
    transition: all 0.3s ease;
}

/* CARRITO */
#cart-toggle:checked + .cart-label > img{
    opacity: 100%;
    transition: all 0.3s ease;
}

#cart-toggle:checked ~ .cart {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
}

.overlay {
    position: absolute;
    top: 100px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

#cart-toggle:checked ~ .overlay {
    display: block;
}