/************HEADER**************/




/************HERO**************/
@media (max-width: 992px) {

    #hero {
        gap: 0px;
    }

    .hero-info h1 { 
        font-size: 54px;
    }
    
    .hero-info h2 {
        font-size: 46px;
    }
    
    .hero-info p {
        font-size: 18px;
    }
    
    #hero img {
        max-width: 300px;
    }

}
@media (max-width: 768px) {
    
    #hero img {
        display: none;
    }

}

@media (max-width: 576px) {

    .hero-info { 
        align-items: center;
        gap: 50px;
        width: 100%;
    }

    .hero-info a {
        width: 80%;
    }

}

/************RECOMENDADOS**************/




/************CATEGORÍAS**************/




/************POPULARES**************/
@media (max-width: 992px) {

}

@media (max-width: 576px) {
    .cards{
        gap: 30px;
    }
    .card{
        width: 200px;
        align-items: center;
    }
    .card div{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    .boton{
        width: 100%;
    }
}

/************FOOTER**************/




